@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ig-background text-ig-text antialiased;
  }

  * {
    @apply border-ig-border;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
